SNA_RELEASE_SHA=<40-char-release-sha>
SNA_DEPLOYMENT_ROLE=aliyun-primary
OPEN_SNA_R_WORKER_MODE=1
OPEN_SNA_R_WORKER_TOKEN=<root-owned-worker-bearer-token>
OPEN_SNA_R_WORKER_TMP_ROOT=/tmp/open-sna-jobs
R_LIBS_USER=/opt/open-sna-r-library
